---
---

@import "{{ site.theme }}";

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border-radius: 2px;
}

header img {
  max-height: 405px;
}

section {
  padding: 0;
}

section img {
  max-height: 350px;
}
