---
---

@import "{{ site.theme }}";

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border-radius: 2px;
}

header img {
  max-height: 405px;
}
section img {
  max-height: 250px;
}
